@{
    ViewData["Title"] = "Home";
}

<div class="doctor-menu panel">
    <h4>Menu</h4>
    <form asp-action="Patients" method="get">
        <button class="btn">Obchód</button>
    </form>
    <form asp-action="AddNewPatient" method="get">
        <button class="btn">Dodaj nowego pacjenta</button>
    </form>
</div>