@model PrescriptionsViewModel
@{
    ViewData["Title"] = "Prescriptions";
}

<div class="prescriptions panel container">
    <div class="table-header">
        <h1>Lista recept</h1>
        <div class="action-buttons">
            <form asp-action="Index" method="get">
                <button class="btn">Powrót</button>
            </form>
            <form asp-action="NewPrescription" method="get">
                <button class="btn">Nowa recepta</button>
            </form>
        </div>
    </div>
    <table class="table">
        <thead>
        <tr>
            <th>Data wystawienia</th>
            <th>Dane pacjenta</th>
            <th>Zatwierdzona</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        @foreach (var p in Model.Prescriptions)
        {
            <tr>
                <td>@p.CreationTime</td>
                <td>@(p.Patient.FullName)</td>
                <td>@p.VerificationState.ToString()</td>
                <td>
                    <form asp-action="Prescription" method="get">
                        <input name="prescriptionId" type="hidden" value="@p.ID"/>
                        <button class="btn">Podgląd</button>
                    </form>
                </td>
            </tr>
        }
        </tbody>
    </table>

    @await Html.PartialAsync("_Pagination", Model.Pagination)

</div>