@import '../_variables.scss';




.main-section {
    display: flex;
    justify-content: center;
    background-image: linear-gradient(to bottom, $secondary-color-dark, $primary-color-bright);
    align-self: stretch;
}
    .login-panel {
        display: flex;
        border-radius: 10px;
        width: 60vw;
        min-width: 820px;
        height: 40vh;
        min-height: 500px;
        align-self: center;
        background-image: linear-gradient(to bottom left, #2b3039, #5c6677);
        color: white;
        box-shadow: 0.5em 0.5em 0.2em rgb(48, 48, 48);
        border: 6px solid $primary-color-dark;


        .left-panel {
            background-image: linear-gradient(to bottom left, $primary-color-darker, $primary-color-bright);
            height: 100%;
            width: 50%;
            display: flex;
            text-align: center;
            justify-content: center;

            h1 {
                padding: 0.3em;
                align-self: center;
            }
        }

        .right-panel {
            margin: 2em;
            height: 100%;
            width: 50%;
            padding: 1em;
        }
    }
