@import '../_variables.scss';

.main-section {
    .new-prescription-panel {
        display: flex;

        .prescription-panel,
        .patient-panel,
        .medicine-panel {
            margin: 1em;
            padding: 1em;
            border: 2px solid $secondary-color-dark;
            border-radius: 1%;
            background-color: $secondary-color-bright;
        }

        .patient-panel,
        .medicine-panel {
            .patient-search,
            .medicine-search {
                display: flex;

                .form-control {
                    display: inline;
                    margin: .5em;
                }
            }
        }




        .prescription-panel {
            position: relative;

            .create {
                position: absolute;
                bottom: 0;
                right: 0;
            }

            form {
                position: absolute;
                bottom: 0;
                left: 0;
            }
        }
    }
}