@import '../_variables.scss';


.main-section {
    .edit-prescription {
        display: flex;

        .edited-prescription-panel,
        .medicine-search-panel {
            margin: 1em;
            padding: 1em;
            background-color: $secondary-color-bright;
            border: 2px solid $secondary-color-dark;
            border-radius: 1%;
        }

        .edited-prescription-panel {
            .table-header {
                display: flex;
                justify-content: space-between;
            }
        }

        .medicine-search-panel {
            .search-bar {
                display:flex;
                justify-content:space-between;
                input {
                    margin:0.5em;
                }
            }
        }
    }
}

