@import '../_variables.scss';

body {

    .main-section {
		
        .treatment-history-panel {
				margin: 2em;
				padding: 2em;
				border: 2px solid $secondary-color-dark;
				border-radius: 1%;
				background-color: $secondary-color-bright;
				min-height: 70vh;
				position: relative;

				table {
					margin-top:2em;
				}
				
				.table-footer {
					position: absolute;
					margin: 2em;
					bottom: 0;
					left: 0;
					right: 0;
					display: flex;
					justify-content: space-between;
				}

        }
    }
}
