@import '_variables.scss';

body {
}

header {
    text-align: center;
    height: 5vh;
    display: flex;
    justify-content: space-between;

}

footer {
    position: fixed;
    bottom: 0;
    width: 99%;
    height: 3vh;
    text-align: center;
}


body .main-section {
	min-height: 92vh;
    color: white;

	.panel {
		background-color: $secondary-color-bright;
		border:2px solid $secondary-color-dark;
		border-radius: 1%;
		padding: 2em;
		margin: 2em;
		height: fit-content;

	}

    input {
		margin:0.5em;
        &:hover,
        &:focus,
        &:active {
            border-color: $primary-color-dark;
            box-shadow: 0 0 0 0.1rem $primary-color-darker;
        }
    }

	button,
	input[type=file] {
        background-color: $primary-color;
        border-color: $primary-color-dark;
        box-shadow: 0 0 0 0.1rem $primary-color-darker;
        color: $white;
        margin: 0.5em;

        &:hover,
        &:focus {
            color: $white;
            background-color: $primary-color-dark;
            border-color: $primary-color-dark;
            box-shadow: 0 0 0 0.1rem $primary-color-darker;
        }

        &:not(:disabled):not(.disabled):active:focus,
        &:not(:disabled):not(.disabled):active {
            color: $white;
            background-color: $primary-color-bright;
            border-color: $white;
        }
    }
}

