@import '_variables.scss';



header {
    text-align: center;
    height: 10vh;
        
    #header-section {
        background-color: $secondary-color-bright;
        display: flex;
        width: 100%;
        height: 100%;
        border: 4px solid #1e9a84;
        justify-content: space-between;

        .btn {
            margin: 1.5em;
            color: $secondary-color-dark;
            font-weight: bold;
        }

        #logoBtn {
            margin-left: 0.5em;
            position: center;
            padding: 0.5em;
            border: 0;
            background: transparent;

            img {
                width: 70%;
                height: auto;
            }
        }
    }
}


footer {
    position: fixed;
    height: 10vh;
    width: 100%;
    color: $white;

    #footer-section {
        background-color: $secondary-color-bright;
        display: flex;
        width: 100%;
        height: 100%;
        border: 4px solid #1e9a84;
        justify-content: space-between;

        .contact-section p {
            margin: 1em;
            color: $primary-color-bright;
            font-size : 1.5vh;
        }
    }
}

body .main-section button , header .btn{
    background-color: $primary-color;
    border-color: $primary-color-dark;
    box-shadow: 0 0 0 0.1rem $primary-color-darker;
    color: $white;
    margin: 0.5em;
    &:hover,
    &:focus {
        color: $white;
        background-color: $primary-color-dark;
        border-color: $primary-color-dark;
        box-shadow: 0 0 0 0.1rem $primary-color-darker;
    }
    &:not(:disabled):not(.disabled):active:focus,
    &:not(:disabled):not(.disabled):active {
        color: $white;
        background-color: $primary-color-bright;
        border-color: $white;
    }
}

body .main-section {

	min-height: 92vh;
    color: white;

	.panel {
		background-color: $secondary-color-bright;
		border:2px solid $secondary-color-dark;
		border-radius: 1%;
		padding: 2em;
		margin: 2em;
		height: fit-content;

	}

    input {
		margin:0.5em;
        &:hover,
        &:focus,
        &:active {
            border-color: $primary-color-dark;
            box-shadow: 0 0 0 0.1rem $primary-color-darker;
        }
    }

	button,
	input[type=file] {
        background-color: $primary-color;
        border-color: $primary-color-dark;
        box-shadow: 0 0 0 0.1rem $primary-color-darker;
        color: $white;
        margin: 0.5em;

        &:hover,
        &:focus {
            color: $white;
            background-color: $primary-color-dark;
            border-color: $primary-color-dark;
            box-shadow: 0 0 0 0.1rem $primary-color-darker;
        }

        &:not(:disabled):not(.disabled):active:focus,
        &:not(:disabled):not(.disabled):active {
            color: $white;
            background-color: $primary-color-bright;
            border-color: $white;
        }
    }
}

