

/*
$primary-color: #36b59e;
primary-color-dark: #1e9a84
$primary-color-bright: #68dbc7;
$secondary-color-dark: #2b3039;
$secondary-color-bright: #5c6677;
    */
body {
}

header {
	text-align: center;
	height: 5vh;
}

.mainSection {
	height: 92vh;
}

footer{
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 3vh;
	text-align: center;
	
}


body .mainSection button {
	background-color:  #36b59e;
	border-color: #1e9a84;
	color: white;
}

body .mainSection button:hover {
	background-color:  #68dbc7;
	border-color: #1e9a84;
	box-shadow: 0 0 0 0.1rem #56eed57e;
}

body .mainSection button:focus {
	background-color:  #68dbc7;
	border-color: #1e9a84;
	box-shadow: 0 0 0 0.1rem #56eed53a;
}
 body .mainSection button:not(:disabled):not(.disabled):active {
	background-color: #1e9a84;
	border-color: #1e9a84;
	box-shadow: 0;
 }

 body .mainSection button:not(:disabled):not(.disabled):active:focus {
	background-color: #1e9a84;
	border-color: #1e9a84;
	box-shadow: 0 0 0 0.1rem #56eed53a;
 }


 body .mainSection h {
	background-color:  #36b59e;
	border-color: #1e9a84;
}





/* 
*/