@model List<MedicineOnStock>
@{
    ViewData["Title"] = "Find Medicine";
}
<div>
    <form asp-action="FindMedicine" method="get">
        <input name="search" />
        <button class="btn">Znajdź</button>
    </form>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Price</th>
                <th>Is refunded</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var medicine in Model)
            {
            <tr>
                <td>@medicine.Name</td>
                <td>@medicine.PricePerOne</td>
                <td>@medicine.IsRefunded</td>
                <td>
                    <form action="AddPrescription" method="get">
                        <input type="hidden" value="@medicine.ID" />
                        <button class="btn">Wybierz</button>
                    </form>
                </td>
            </tr>
            }
        </tbody>

    </table>
</div>