@{
    ViewData["Title"] = "Home";
}

<div class="container">
    <form asp-action="Prescriptions" method="get">
        <button class="btn">Wystawione recepty</button>
    </form>
    <form asp-action="NewPrescription" method="get">
        <button class="btn">Wystaw nową receptę</button>
    </form>
    <form asp-action="Patients" method="get">
        <button class="btn">Historia leczenia</button>
    </form>
</div>