@{
    ViewData["Title"] = "Find Medicine";
}
<div class="newPrescriptionPanel">
    <div class="patientPanel">
        <div class="patientSearch">
            <input name="search" />
            <button class="btn">Znajdź</button>
        </div>
        <table>
            <thead>
                <tr>
                    <th>Full Name</th>
                    <th></th>
                </tr>
            </thead>
            <tbody></tbody>

        </table>
    </div>
    <div class="medicinePanel">
        <div class="medicineSearch">
            <input name="search" />
            <button class="btn">Znajdź</button>
        </div>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Is refunded</th>
                    <th>Quantity</th>
                    <th></th>
                </tr>
            </thead>
            <tbody></tbody>

        </table>
    </div>
    <div class="prescriptionPanel">
        <h1></h1>
        <table>
            <thead>
                <tr>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>

            </tbody>

        </table>
    </div>


</div>
<script src="~/js/Doctor//AddPrescription.js"></script>