@{
    ViewData["Title"] = "New Prescription";
}
<div class="newPrescriptionPanel">

    <div class="prescriptionPanel">
        <h1>Nowa recepta:</h1>
        <div class="prescriptionOrder">
            <h5>Pacjent: <span></span></h5>
            <table class="table">
                <thead>
                    <tr>
                        <th>Nazwa leku</th>
                        <th>Cena za sztuke</th>
                        <th>Ilość</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
        <form asp-action="Index" method="get">
            <button class="btn">Powrót</button>
        </form>
        <button class="btn create">Stwórz</button>
    </div>
    <div class="patientPanel">
        <h1>Znajdź pacjenta:</h1>
        <div class="patientSearch">
            <input class="form-control" name="search" />
            <button class="btn">Znajdź</button>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th>Full Name</th>
                    <th></th>
                </tr>
            </thead>
            <tbody></tbody>

        </table>
    </div>
    <div class="medicinePanel">
        <h1>Wybierz leki:</h1>
        <div class="medicineSearch">
            <input class="form-control" name="search" />
            <button class="btn">Znajdź</button>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Is refunded</th>
                    <th>Quantity</th>
                    <th></th>
                </tr>
            </thead>
            <tbody></tbody>

        </table>
    </div>
</div>
<script src="~/js/Doctor//AddPrescription.js"></script>