

.main-section {

    .departments {

        .table-header {
            display: flex;
            justify-content: space-between;
            margin: 0.5em;
            
            h1 {
            }

            #add-department {
            }
        }
    }
}
