


.mainSection {

    .users {

        .tableHeader {
            display: flex;
            justify-content: space-between;
            margin:0.5em;

            h1 {
            }

            #addUser {
            }
        }
    }
}
