.main-section {
  display: flex;
  justify-content: center;
  background-image: linear-gradient(to bottom, #2b3039, #68dbc7);
  align-self: stretch; }

.login-panel {
  display: flex;
  border-radius: 10px;
  width: 60vw;
  height: 50vh;
  align-self: center;
  background-image: linear-gradient(to bottom left, #2b3039, #5c6677);
  color: white;
  box-shadow: 0.5em 0.5em 0.2em #303030;
  border: 6px solid #1e9a84; }
  .login-panel .left-panel {
    background-image: linear-gradient(to bottom left, #0c7965, #68dbc7);
    height: 100%;
    width: 50%;
    display: flex;
    text-align: center;
    justify-content: center; }
    .login-panel .left-panel h1 {
      padding: 0.3em;
      align-self: center; }
  .login-panel .right-panel {
    overflow: auto;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 50%;
    padding: 2em; }
