header {
  text-align: center;
  height: 8vh;
  position: fixed;
  width: 100%; }
  header #header-section {
    background-color: #5c6677;
    display: flex;
    width: 100%;
    height: 100%;
    border: 4px solid #1e9a84;
    justify-content: space-between; }
    header #header-section .btn {
      color: #2b3039;
      font-weight: bold;
      padding: 3%;
      float: right;
      vertical-align: middle;
      position: relative; }
    header #header-section #logoBtn {
      padding: 3%;
      border: 0;
      background: transparent;
      height: 100%; }
      header #header-section #logoBtn img {
        height: 100%;
        float: left; }

footer {
  height: 10vh;
  width: 100%;
  color: white; }
  footer #footer-section {
    background-color: #5c6677;
    display: flex;
    width: 100%;
    height: 100%;
    border: 4px solid #1e9a84;
    justify-content: space-between; }
    footer #footer-section .contact-section p {
      margin: 1em;
      color: #68dbc7;
      font-size: 1.5vh; }

body .main-section button, header .btn {
  background-color: #36b59e;
  border-color: #1e9a84;
  box-shadow: 0 0 0 0.1rem #0c7965;
  color: white;
  margin: 0.5em; }
  body .main-section button:hover, body .main-section button:focus, header .btn:hover, header .btn:focus {
    color: white;
    background-color: #1e9a84;
    border-color: #1e9a84;
    box-shadow: 0 0 0 0.1rem #0c7965; }
  body .main-section button:not(:disabled):not(.disabled):active:focus, body .main-section button:not(:disabled):not(.disabled):active, header .btn:not(:disabled):not(.disabled):active:focus, header .btn:not(:disabled):not(.disabled):active {
    color: white;
    background-color: #68dbc7;
    border-color: white; }

body {
  background-image: linear-gradient(to bottom, #2b3039, #68dbc7); }
  body .main-section {
    display: flex;
    padding-top: 10vh;
    justify-content: center;
    align-self: stretch;
    min-height: 90vh;
    color: white; }
    body .main-section .panel {
      background-color: #5c6677;
      border: 2px solid #2b3039;
      border-radius: 1%;
      padding: 2em;
      margin: 4em;
      height: fit-content;
      overflow: auto; }
    body .main-section input {
      margin: 0.5em; }
      body .main-section input:hover, body .main-section input:focus, body .main-section input:active {
        border-color: #1e9a84;
        box-shadow: 0 0 0 0.1rem #0c7965; }
    body .main-section button,
    body .main-section input[type=file] {
      background-color: #36b59e;
      border-color: #1e9a84;
      box-shadow: 0 0 0 0.1rem #0c7965;
      color: white;
      margin: 0.5em; }
      body .main-section button:hover, body .main-section button:focus,
      body .main-section input[type=file]:hover,
      body .main-section input[type=file]:focus {
        color: white;
        background-color: #1e9a84;
        border-color: #1e9a84;
        box-shadow: 0 0 0 0.1rem #0c7965; }
      body .main-section button:not(:disabled):not(.disabled):active:focus, body .main-section button:not(:disabled):not(.disabled):active,
      body .main-section input[type=file]:not(:disabled):not(.disabled):active:focus,
      body .main-section input[type=file]:not(:disabled):not(.disabled):active {
        color: white;
        background-color: #68dbc7;
        border-color: white; }

.main-section .pagination {
  justify-content: center; }
  .main-section .pagination > li a, .main-section .pagination > li span {
    color: #0c7965; }
    .main-section .pagination > li a:focus, .main-section .pagination > li span:focus {
      box-shadow: 0 0 0 0.2rem rgba(39, 136, 22, 0.25); }
  .main-section .pagination li.active > a {
    border-color: #0c7965;
    background-color: #1e9a84;
    color: #fff; }
