header {
  text-align: center;
  height: 10vh; }
  header #header-section {
    background-color: #5c6677;
    display: flex;
    width: 100%;
    height: 100%;
    border: 4px solid #1e9a84;
    justify-content: space-between; }
    header #header-section .btn {
      margin: 1.5em;
      color: #2b3039;
      font-weight: bold; }
    header #header-section #logoBtn {
      margin-left: 0.5em;
      position: center;
      padding: 0.5em;
      border: 0;
      background: transparent; }
      header #header-section #logoBtn img {
        width: 70%;
        height: auto; }

footer {
  position: fixed;
  height: 10vh;
  width: 100%;
  color: white; }
  footer #footer-section {
    background-color: #5c6677;
    display: flex;
    width: 100%;
    height: 100%;
    border: 4px solid #1e9a84;
    justify-content: space-between; }
    footer #footer-section .contact-section p {
      margin: 1em;
      color: #68dbc7;
      font-size: 1.5vh; }

body .main-section button, header .btn {
  background-color: #36b59e;
  border-color: #1e9a84;
  box-shadow: 0 0 0 0.1rem #0c7965;
  color: white;
  margin: 0.5em; }
  body .main-section button:hover, body .main-section button:focus, header .btn:hover, header .btn:focus {
    color: white;
    background-color: #1e9a84;
    border-color: #1e9a84;
    box-shadow: 0 0 0 0.1rem #0c7965; }
  body .main-section button:not(:disabled):not(.disabled):active:focus, body .main-section button:not(:disabled):not(.disabled):active, header .btn:not(:disabled):not(.disabled):active:focus, header .btn:not(:disabled):not(.disabled):active {
    color: white;
    background-color: #68dbc7;
    border-color: white; }

body .main-section {
<<<<<<< HEAD
  height: 80vh;
=======
  min-height: 92vh;
>>>>>>> develop
  color: white; }
  body .main-section .panel {
    background-color: #5c6677;
    border: 2px solid #2b3039;
    border-radius: 1%;
    padding: 2em;
    margin: 2em;
    height: fit-content; }
  body .main-section input {
    margin: 0.5em; }
    body .main-section input:hover, body .main-section input:focus, body .main-section input:active {
      border-color: #1e9a84;
      box-shadow: 0 0 0 0.1rem #0c7965; }
<<<<<<< HEAD
  body .main-section h {
    background-color: #36b59e;
    border-color: #0c7965; }

/*
*/
=======
  body .main-section button,
  body .main-section input[type=file] {
    background-color: #36b59e;
    border-color: #1e9a84;
    box-shadow: 0 0 0 0.1rem #0c7965;
    color: white;
    margin: 0.5em; }
    body .main-section button:hover, body .main-section button:focus,
    body .main-section input[type=file]:hover,
    body .main-section input[type=file]:focus {
      color: white;
      background-color: #1e9a84;
      border-color: #1e9a84;
      box-shadow: 0 0 0 0.1rem #0c7965; }
    body .main-section button:not(:disabled):not(.disabled):active:focus, body .main-section button:not(:disabled):not(.disabled):active,
    body .main-section input[type=file]:not(:disabled):not(.disabled):active:focus,
    body .main-section input[type=file]:not(:disabled):not(.disabled):active {
      color: white;
      background-color: #68dbc7;
      border-color: white; }
>>>>>>> develop
