header {
  text-align: center;
  height: 5vh;
  display: flex;
  justify-content: space-between; }

footer {
  position: fixed;
  bottom: 0;
  width: 99%;
  height: 3vh;
  text-align: center; }

body .main-section {
  height: 92vh;
  color: white; }
  body .main-section input:hover, body .main-section input:focus, body .main-section input:active {
    border-color: #1e9a84;
    box-shadow: 0 0 0 0.1rem #0c7965; }
  body .main-section button {
    background-color: #36b59e;
    border-color: #1e9a84;
    box-shadow: 0 0 0 0.1rem #0c7965;
    color: white;
    margin: 0.5em; }
    body .main-section button:hover, body .main-section button:focus {
      color: white;
      background-color: #1e9a84;
      border-color: #1e9a84;
      box-shadow: 0 0 0 0.1rem #0c7965; }
    body .main-section button:not(:disabled):not(.disabled):active:focus, body .main-section button:not(:disabled):not(.disabled):active {
      color: white;
      background-color: #68dbc7;
      border-color: white; }
  body .main-section h {
    background-color: #36b59e;
    border-color: #0c7965; }

/*
*/
