@import '../_variables.scss';

body {
    .main-section {
        .patient-prescription-details {
            border: 2px solid $secondary-color-dark;
            background-color: $secondary-color-bright;
            border-radius: 1%;
            margin:2em;
            padding:2em;
            position: relative;
            form {
                position:absolute;
                right:0;
                top:0;
                margin:1em;
            }
            h1 {
                margin-bottom:.5em;
            }
        }
    }
}
