@model Department
@{
    ViewData["Title"] = "New Department";
}

<div>
    <form action="AddDepartment" method="post">
        <input type="hidden" asp-for="ID" />
        <div class="form-group">
            <label asp-for="Name">Department Name:</label>
            <input class="form-control" type="text" asp-for="Name" />
        </div>
        <button class="btn">Dodaj</button>
    </form>
    <form action="Departments" method="get">
        <button class="btn">Powrót</button>
    </form>
</div>