@model DepartmentsViewModel
@{
    ViewData ["Title"] = "Departments";
}

<div class="container departments panel">
    <div class="table-header">
        <h1>Dostępne oddziały:</h1>
        <div class="button-section">
            <form action="Index" method="get" class="return-button">
                <button class="btn">Powrót</button>
            </form>
            <form id="add-department" asp-action="AddDepartment" method="Get">
                <button class="btn">Nowy oddział</button>
            </form>
        </div>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nazwa</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        @foreach (var department in Model.Departments)
        {
            <tr>
                <td>@department.ID</td>
                <td>@department.Name</td>
                <td>
                    <form action="EditDepartment" method="get">
                        <input value="@department.ID" name="departmentId" type="hidden" />
                        <Button class="btn">Edytuj</Button>
                    </form>
                </td>
                <td>
                    <form action="DeleteDepartment" method="post">
                        <input value="@department.ID" name="departmentId" type="hidden" />
                        <Button class="btn">Usuń</Button>
                    </form>
                </td>
            </tr>

        }
    </table>



    @await Html.PartialAsync("_Pagination", Model.Pagination)
</div>
</div>