@model Department
@{
    ViewData["Title"] = "Edit Department";
}
<div class="edit-department container panel">
    <form action="EditDepartment" method="post">
        <input type="hidden" asp-for="ID" />
        <div class="form-group">
            <div><span asp-validation-for="Name" class="text-danger"></span></div>
            <label asp-for="Name"><strong>Nazwa oddziału:</strong></label>
            <input class="form-control" type="text" asp-for="Name" />
        </div>
        <button class="btn save-department">Zapisz</button>
    </form>
    <form action="Departments" method="get">
        <button class="btn go-back">Powrót</button>
    </form>
</div>