
@{
    ViewData["Title"] = "Index";
}

<div class="container">
    <div class="container">
        <h5>Manage Users</h5>
        <form method="get" asp-action="Users">
            <button>Manage</button>
        </form>
    </div>
    <div class="container">
        <h5>Manage departments</h5>
        <form method="get" asp-action="Departments">
            <button>Manage</button>
        </form>
    </div>


</div>

