
@{
    ViewData["Title"] = "Index";
}

<div class="container">
    <div class="container">
        <h5>Zarządzanie użytkownikami</h5>
        <form method="get" asp-action="Users">
            <button class="btn">Modyfikuj</button>
        </form>
    </div>
    <div class="container">
        <h5>Zarządzanie działami szpitala</h5>
        <form method="get" asp-action="Departments">
            <button class="btn">Modyfikuj</button>
        </form>
    </div>


</div>

